body {
  margin:0;
  font-size:13px;
  line-height:24px;
  font-family: "PT Sans", "Times New Roman", sans-serif;
}
h1 {
  font-size:24px;
  line-height:24px;
  font-weight:400;
  font-family: "Cuprum","Times New Roman",sans-serif;
  color:#ffffff;
}
h2 {
  font-size:30px;
  line-height:30px;
  font-family: "Cuprum","Times New Roman", sans-serif;
  color:#32425c;
}
.container {
  width:940px;
  padding:0 10px;
  margin:0 auto;
}
.header {
  padding-bottom:60px;
  font-family: "Cuprum","Times New Roman",sans-serif;
  background-color:#f1f5f7;
}
.header-logo-main h1 {
  margin:0;
  text-transform: uppercase;
}
.header-logo-main {
  display:inline-block;
  vertical-align:top;
  padding:8px 55px;
  padding-top:10px;
  background-color:#ee3643;
  box-shadow:0 5px 0 0 #b52933;
}
.header-logo-inner {
  display:inline-block;
  vertical-align:top;
}
.header-top a {
  display:block;
  padding:12px;
  color:#ffffff;
  text-decoration:none;
}
.header-logo-inner a{
  display:block;
  padding:8px 55px;
  padding-top:10px;
  font-size:24px;
  line-height:24px;
  text-transform: uppercase;
  color:#ffffff;
  background-color:#ee3643;
  box-shadow:0 5px 0 0 #b52933;
}
.header-top {
  margin-bottom:46px;
  background-color:#293449
}
.header-search {
  position:relative;
  display:inline-block;
  vertical-align:top;
}
.header-search input {
  box-sizing:border-box;
  padding-left:47px;
  padding-top:12px;
  padding-bottom:13px;
  width:270px;
  font-size:17px;
  line-height:18px;
  font-family: "Cuprum","Times New Roman",sans-serif;
  color:#ffffff;
  background-color:#293449;
  border:none;
}
.header-search label[for="search"] {
  position:absolute;
  top:13px;
  left:16px;
  width: 17px;
  height: 17px;
  background:url("../img/spritesheet-icons.png") no-repeat -349px -5px;
  opacity:0.3;
}
.header-search input:hover {
  background-color:#212a3a;
}
.header-search input:focus {
  background-color:#ffffff;
  color:#000000;
  outline:none;
}
.header-search input:focus ~ label[for="search"] {
  background-position: -376px -5px;
  opacity:1;
}.header-search input:hover ~ label[for="search"] {
  opacity:1;
}
.header-bookmarks,
.header-cart,
.header-order {
  position:relative;
  display:inline-block;
  vertical-align:top;
  width:150px;
  font-size:17px;
  line-height:18px;
}
.header-cart.not-empty {
  background-color:#ee3643;
}
.header-bookmarks:hover,
.header-cart:hover,
.header-order:hover {
  background-color:#212a3a;
}
.header-bookmarks a {
  padding-left:45px;
}
.header-bookmarks:active {
  background-color:#161d29;
}
.header-bookmarks::before {
  content:"";
  position:absolute;
  left:17px;
  top:13px;
  width: 14px;
  height: 16px;
  background:url("../img/spritesheet-icons.png") no-repeat -32px -5px;
  opacity:0.3;
}
.header-bookmarks:hover::before,
.header-cart:hover::before {
  opacity:1;
}
.header-bookmarks:active,
.header-cart:active {
  opacity:0.6;
}
.header-cart a {
  padding:12.5px 0px;
  padding-left:50px;
}
.header-cart::before {
  content:"";
  position:absolute;
  left:17px;
  top:13px;
  width: 17px;
  height: 16px;
  background:url("../img/spritesheet-icons.png") no-repeat -5px -5px;
  opacity:0.3;
}
.header-order {
  background-color:#63a63e;
}
.header-order:hover {
  background-color:#5fbb2d;
}
.header-order:active {
  background-color:#518534;
}
.header-order:active a {
  opacity:0.5;
}
.header-order a {
  padding:12.5px 20px;
}
.header-info > * {
  display:inline-block;
  vertical-align:top;
}
.header-top .container,
.header-info {
  font-size:0;
}
.header-discription {
  width:250px;
  margin-right:70px;
}
.header-contacts {
  width:270px;
  margin-right:50px;
}
.header-discription {
  font-size:16px;
  line-height:23px;
  font-style:italic;
  font-family: "Cuprum","Times New Roman", sans-serif;
  color:#ee3643;
}
.header-discription p {
  margin:0;
  padding-left:52px;
  padding-top:4px;
}
.header-contacts .phone {
  position:relative;
  padding:10px;
  padding-left:69px;
  padding-right:6px;
  margin-bottom:3px;
  font-size:21px;
  line-height:21px;
  color:#e9292a;
  border:3px solid #ffffff;
}
.phone::before {
  content:"";
  position:absolute;
  top:11px;
  left:12px;
  width: 19px;
  height: 19px;
  background:#f1f5f7 url("../img/spritesheet-icons.png") no-repeat -320px -5px;
}
.header-contacts p {
  margin:0;
}
.header-contacts .adress {
  padding-left:10px;
  font-size:14px;
  line-height:24px;
  color:#32425c
}
.header-info .user-area {
  font-size:0px;
}
.user-area {
  width:300px;
}
.user-register,
.user-login,
.user-logged-in {
  position:relative;
  display:inline-block;
  vertical-align: top;
  font-size:21px;
  line-height:21px;
}
.user-login {
  width:123px;
  margin-left:15px;
  margin-right:10px;
}
.user-login a,
.user-register a {
  display:block;
  padding:13px 25px;
  color:#000000;
  text-decoration:none;
  background-color:#ffffff;
}
.user-login::before {
  content:"";
  position:absolute;
  top:15px;
  left:16px;
  width: 20px;
  height: 17px;
  background:url("../img/spritesheet-icons.png") no-repeat -198px -5px;
}
.user-login a {
  padding-left:50px;
}
.user-info {
  margin-top:2px;
}
.user-info a {
  font-size:16px;
  line-height:18px;
  color:#32425c;
}
.user-login a:hover,
.user-register a:hover {
  color:#ee3643;
}
.user-login:hover::before {
  background-position:-228px -5px;
}
.user-login:active::before {
  background-position:-198px -5px;
}
.user-register:active a,
.user-login:active  a {
  color:#000000;
  opacity:0.3;
}
.user-logged-in {
  position:relative;
  width:100%;
}
.user-personal {
  background:#ffffff;
}
.user-logged-in .user-name{
  display:inline-block;
  vertical-align:middle;
  box-sizing: border-box;
  padding:13px 0px;
  text-align:center;
  color:#000000;
  text-decoration:none;
}
.user-logged-in .profile {
  display:inline-block;
  vertical-align:middle;
  font-size:0;
  line-height: 0;
  margin:0 9px;
  margin-left:14px;
  width:20px;
  height:18px;
  background:url("../img/spritesheet-icons.png") no-repeat -403px -5px;
}
.user-logged-in .log-out {
  display:inline-block;
  vertical-align:middle;
  margin-left:29px;
  width: 21px;
  height: 17px;
  font-size:0;
  background:url("../img/spritesheet-icons.png") no-repeat -258px -5px;
}
.user-name:hover ~ .profile,
.user-logged-in .profile:hover {
  background-position: -433px -5px;
}
.user-logged-in .log-out:hover {
  background-position: -289px -5px;
}
.user-name:active {
  opacity:0.3;
}
.user-name:active ~ .profile,
.user-logged-in .profile:active {
  background-position: -403px -5px;
}
.user-logged-in .log-out:active {
  background-position: -258px -5px;
}
.user-orders {
  position:relative;
  padding-left:17px;
  padding-right:27px;
}
.user-orders::after {
  content:"";
  position:absolute;
  top:7px;
  right:7px;
  width:4px;
  height:4px;
  background-color:#32425c;
  border-radius:50%;
}
.user-orders:hover,
.user-account:hover {
  color:#ee3643;
}
.user-orders:active,
.user-account:active {
  color:#dadfe3;
}
.header-navigation {
  margin-top:39px;
  font-size:0;
  color:#ffffff;
  border-bottom:5px solid #293449;
  background-color:#32425c;
}
.header-inner .header-navigation {
  margin-top:38px;
}
.header-navigation li{
  display:inline-block;
  vertical-align: top;
}
.header-navigation a {
  display:block;
  font-size:17px;
  line-height:17px;
  color:#ffffff;
  text-decoration:none;
}
.header-navigation a:hover {
  background-color:#293449;
}
.header-navigation a:active {
  opacity:0.5;
}
.header-navigation a {
  padding:19px 30px;
}
.header-navigation .navigation-main{
  padding-left:50px;
  padding-right:34px;
}
.header-navigation .navigation-contacts {
  padding-left:34px;
  padding-right:52px;
}
.header-navigation ul {
  margin:0;
  padding:0;
}
.index-main {
  margin-top:58px;
}
.index-main .categories {
  margin-bottom:32px;
  font-family: "Cuprum","Times New Roman", sans-serif;
}
.categories-left {
  float:left;
  width:620px;
}
.categories-right {
  float:right;
  width:300px;
}
.categories-item {
  position:relative;
  float:left;
  box-sizing:border-box;
  width:300px;
  min-height:123px;
  margin-bottom:20px;
  padding-left:23px;
}
.categories-item p {
  margin:0;
  margin-bottom:13px;
  padding-top:20px;
  font-size:24px;
  line-height:30px;
  font-weight:bold;
  color:#fff;
}
.btn {
  display:inline-block;
  vertical-align:top;
  padding:11px 0px;
  font-size:14px;
  line-height:18px;
  font-family: "Cuprum","Times New Roman", sans-serif;
  text-align:center;
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;
  border-radius:3px;
  background-color:#ee3643;
  cursor: pointer;
}
.btn:hover {
  background-color:#ca2c37;
}
.btn:active {
  background-color:#ba2732;
}
.categories-item .btn-categories {
  width:135px;
  background-color:rgba(0,0,0,0.1);
}
.categories-item .btn-categories:hover {
  background-color:rgba(0,0,0,0.2);
}
.categories-item .btn-categories:active {
  background-color:rgba(0,0,0,0.3);
}
.categories-item:first-child {
  margin-right:20px;
}
.categories-item::before {
  content:"";
  position:absolute;
  top:17px;
  right:33px;
  width: 84px;
  height: 89px;
  background:url("../img/spritesheet_categories.png") no-repeat;
}
.categories-item.materials {
  background-color:#f6b22d;
}
.categories-item.materials::before {
  right:25px;
  background-position: -99px -104px;
}
.categories-item.instruments{
  background-color:#4aafde;
}
.categories-item.instruments::before {
  right:25px;
  background-position: -5px -104px;
}
.categories-item.vehicle {
  background-color:#cc79d1;
}
.categories-item.vehicle::before {
  right:28px;
  background-position: -193px -5px;
}
.categories-item.discount {
  background-color:#85d179;
}
.categories-item.discount::before {
  background-position: -99px -5px;
}
.categories-item.delivery {
  background-color:#f6b22d;
}
.categories-item.delivery::before {
  right:28px;
  background-position: -5px -5px;
}
.new::after {
  content:"";
  position:absolute;
  top:0px;
  right:0px;
  width:60px;
  height:59px;
  background:url("../img/marker-new.png") no-repeat;
}
.categories-slider {
  position:relative;
  float:left;
  width:620px;
  height:266px;
  overflow:hidden;
}
.categories-slides {
  width:200%;
}
.categories-slides::after {
  content:"";
  display:table;
  clear:both;
}
.categories-slide-1 {
  position:relative;
  float:left;
  width:620px;
  min-height:266px;
  background:url("../img/slide1.jpg") no-repeat;
}
.categories-slide-2 {
  position:relative;
  float:left;
  width:620px;
  min-height:266px;
  background:url("../img/slide2.jpg") no-repeat;
}
.slider-info {
  position:relative;
  z-index:10;
  padding-top:23px;
  padding-left:25px;
  color:#fff;
}
.categories-slider input[type="radio"] {
  display:none;
}
.categories-slider label[for="slider-left"],
.categories-slider label[for="slider-right"] {
  position:absolute;
  z-index:20;
  top:114px;
  opacity:0.7;
  cursor:pointer;
}
.categories-slider label[for="slider-left"]:hover,
.categories-slider label[for="slider-right"]:hover {
  opacity:1;
}
.categories-slider label[for="slider-left"] {
  left:25px;
}
.categories-slider label[for="slider-right"] {
  right:22px;
}
#slider-left:checked ~ .categories-slides {
  -webkit-transform:translateX(0);
          transform:translateX(0);
}
#slider-right:checked ~ .categories-slides {
  -webkit-transform:translateX(-620px);
          transform:translateX(-620px);
}
.categories-slider label[for="slider-left-alt"],
.categories-slider label[for="slider-right-alt"] {
  position:absolute;
  z-index:20;
  bottom:37px;
  left:315px;
  width:10px;
  height:10px;
  font-size:0;
  background-color:#ffffff;
  border-radius:50%;
  cursor:pointer;
}
.categories-slider label[for="slider-left-alt"] {
  left:295px;
}
#slider-left-alt:checked ~ .categories-slides {
  -webkit-transform:translateX(0);
          transform:translateX(0);
}
#slider-left-alt:checked ~ label[for="slider-left-alt"],
#slider-left:checked ~ label[for="slider-left-alt"] {
  box-shadow: 0 0 0 2px #ffffff inset,
              0 0 0 5px #ee3643 inset;
}
#slider-right-alt:checked ~ .categories-slides {
  -webkit-transform:translateX(-620px);
          transform:translateX(-620px);
}
#slider-right-alt:checked ~ label[for="slider-right-alt"],
#slider-right:checked ~ label[for="slider-right-alt"] {
  box-shadow: 0 0 0 2px #ffffff inset,
              0 0 0 5px #ee3643 inset;
}
.slider-info h2 {
  margin:0;
  margin-bottom:2px;
  font-size:36px;
  line-height:36px;
  font-weight:700;
  text-transform:uppercase;
  color:#fff;
}
.slider-info p {
  margin:0;
  font-size:18px;
  line-height:24px;
  font-family: "PT Sans", "Times New Roman", sans-serif;
}
.slider-top-button {
  width:197px;
  margin-top:120px;
  background-color:#ee3643;
}
.categories::after {
  content:"";
  display:table;
  clear:both;
}
.popular,
.manufacturers{
  min-height:89px;
  margin-bottom:20px;
  padding-right:25px;
  padding-left:27px;
  background-color:#f7f3ec;
}
.manufacturers {
  padding-left:25px;
}
.popular-title,
.manufacturers-title {
  float:left;
  max-width: 590px;
  margin-top:32px;
  font-weight:normal;
  text-transform:uppercase;
}
.popular .btn-view-all,
.manufacturers .btn-view-all{
  float:right;
  width:254px;
  margin-top:26px;
}
.popular::after {
  content:"";
  display:table;
  clear:both;
}
.popular-goods {
  margin-bottom:20px;
  font-size:0;
}
.popular-item,
.goods-item {
  position:relative;
  display:inline-block;
  vertical-align: top;
  margin-right:20px;
  width:218px;
  min-height:316px;
  border:1px solid #e5e5e5;
  font-family:"PT Sans", "Times New Roman", sans-serif;
  font-weight:bold;
  text-align:center;
}
.popular-item img,
.goods-item img{
  display:block;
  max-width:100%;
  width:218px;
  height:167px;
}
.popular-item:hover,
.goods-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
}
.popular-item p,
.goods-item p {
  font-size:18px;
  line-height:20px;
}
.product-name {
  min-height:40px;
  padding:0 25px;
  margin:0;
  margin-top:13px;
  margin-bottom:10px;
}
.popular-item .price-old,
.goods-item .price-old{
  margin:10px 0;
  font-size:17px;
  line-height:18px;
  text-decoration:line-through;
  color:#999999;
}
.popular-item .price-discount,
.goods-item .price-discount{
  position:relative;
  box-sizing: border-box;
  width:123px;
  margin:0 auto;
  margin-right:54px;
  padding:10px 0px;
  padding-left:32px;
  padding-right:15px;
  border-radius: 3px;
  font-size:17px;
  line-height:18px;
  color:#ffffff;
  background-color:#ee3643;
}
.price-discount::after {
  content:"";
  position:absolute;
  top:1px;
  right:-17px;
  width:0;
  height:0;
  border:18px solid #ee3643;
  border-right-width:0px;
  border-top-color:transparent;
  border-bottom-color:transparent;
}
.popular-item .no-old-price,
.goods-content .no-old-price{
  margin-top:38px;
}
.popular-item span,
.goods-item span {
  text-transform:uppercase;
}
.popular-goods .popular-item:last-child,
.catalog-goods .goods-item:nth-child(3n) {
    margin-right:0px;
}
.popular-item-buy,
.goods-item-buy {
  display:none;
  position:absolute;
  box-sizing: border-box;
  top:0;
  padding:0 42px;
  width:218px;
  min-height:167px;
  background-color:#ffffff;
}
.popular-item-buy a,
.goods-item-buy a{
  font-size:14px;
  font-weight: 400;
  font-family: "Cuprum","Times New Roman",sans-serif;
  text-decoration:none;
  text-transform: uppercase;
}
.btn-buy {
  position:relative;
  display:block;
  width:135px;
  padding:7px 0;
  margin-top:44px;
  margin-bottom:7px;
  border-radius:3px;
  color:#ffffff;
  background:#63a63e;
  box-shadow:0 -3px 0 0 #367315 inset;
}
.btn-bookmark {
  display:block;
  width:129px;
  padding:4px 0;
  color:#32425c;
  border:3px solid #63a63e;
  border-radius:3px;
}
.btn-buy::before {
  content:"";
  position:absolute;
  left:12px;
  top:10px;
  width: 17px;
  height: 16px;
  background:url("../img/spritesheet-icons.png") no-repeat -5px -5px;
  opacity:0.3;
}
.btn-buy:hover {
  background-color:#5fbb2d;
}
.btn-buy:hover::before {
  opacity:1;
}
.btn-buy:active {
  background-color:#518534;
  box-shadow:none;
}
.btn-bookmark:hover {
  border-color:#32425c;
}
.btn-bookmark:active {
  opacity:0.3;
  color:#32425c;
}
.popular-item:hover .popular-item-buy,
.goods-item:hover .goods-item-buy {
  display:block;
}
.manufacturers {
  margin-bottom:20px;
}
.manufacturers-content {
  margin-bottom:66px;
  font-size:0;
}
.manufacturers-item {
  display:inline-block;
  vertical-align: top;
  margin-right:20px;
  margin-bottom:20px;
}
.manufacturers-item:active {
  opacity:0.3;
}
.manufacturers-item img {
  width:218px;
  height:143px;
}
.manufacturers-item a {
  display:inline-block;
  vertical-align:top;
  line-height:0px;
}
.manufacturers-item:nth-child(4n) {
  margin-right:0px;
}
.manufacturers-item {
  border:1px solid #e5e5e5;
  text-align:center;
}
.manufacturers-item:hover {
  box-shadow:0 10px 25px 0 rgba(41,52,73,0.5);
}
.service {
  padding-top:66px;
  background-color:#f2f6f8;
}
.service input[type="radio"] {
  display:none;
}
.service-info {
  width:400px;
  margin-bottom:25px;
}
.service-info h2{
  margin:0;
  margin-bottom:25px;
  font-size:30px;
  line-height:30px;
  font-weight:400;
  text-transform:uppercase;
  color:#000;
}
.service-info p {
  margin:0;
}
.service-slide-info {
  position:relative;
  z-index:20;
  padding-left:80px;
  padding-top:43px;
}
.service-slide-info h2{
  margin:0;
  margin-bottom:23px;
  font-size:36px;
  line-height:36px;
  font-weight: 400;
  text-transform:uppercase;
}
.service-slide-info p {
  display:inline-block;
  vertical-align:top;
  margin:0;
}
.delivery-slide-info {
  width:275px;
}
.warranty-slide-info {
  width:375px;
}
.service-sldier::after {
  content:"";
  display:table;
  clear:both;
}
.service-switch {
  position:relative;
  z-index:50;
  float:left;
  width:240px;
  margin-top:43px;
}
.service-switch::after {
  content:"";
  position:absolute;
  top:-40px;
  right:0;
  width:10px;
  height:272px;
  background:url("../img/service-shadow.png") no-repeat;
}
.service-switch label{
  display:block;
  padding:14px 0 17px;
  padding-left:22px;
  font-size:21px;
  line-height:30px;
  font-family: "Cuprum","Times New Roman",sans-serif;
  font-weight:bold;
  color:#fff;
  background-color:#32425c;
  box-shadow: 0 -1px 0 0px #293449 inset,
              0 1px 0 0px #405069 inset;
}
.service-slider {
  overflow:hidden;
}
.service-slides {
  position:relative;
  float:right;
  width:700px;
  height:329px;
  -webkit-transform:translateX(-1400px);
          transform:translateX(-1400px);
}
.service-slide-delivery,
.service-slide-warranty,
.service-slide-credit  {
  position:absolute;
  z-index:1;
  width:700px;
  min-height:329px;
}
.service-slide-delivery {
  left:0;
  background:url("../img/delivery-img.png") no-repeat;
}
.service-slide-warranty {
  left:700px;
  background:url("../img/warranty-img.png") no-repeat;
}
.service-slide-credit {
  left:1400px;
  background:url("../img/credit-img.png") no-repeat;
}
.service-slide-delivery img,
.service-slide-warranty img,
.service-slide-credit img {
  position:absolute;
  z-index:10;
  top:0;
  left:0px;
}
.slider-bottom-button {
  display:block;
  margin-top:29px;
  width:194px;
}
.service-switch label {
  cursor:pointer;
}
.service-switch label:hover {
  background-color:#293449;
}
#delivery-slider:checked ~ .service-slides {
  -webkit-transform:translateX(0px);
          transform:translateX(0px);
}
#delivery-slider:checked ~ .service-switch label[for="delivery-slider"] {
  background-color:#ffffff;
  color:#32425c;
  box-shadow:none;
}
#warranty-slider:checked ~ .service-slides {
  -webkit-transform:translateX(-700px);
          transform:translateX(-700px);
}
#warranty-slider:checked ~ .service-switch label[for="warranty-slider"] {
  background-color:#ffffff;
  color:#32425c;
  box-shadow:none;
}
#credit-slider:checked ~ .service-slides {
  -webkit-transform:translateX(-1400px);
          transform:translateX(-1400px);
}
#credit-slider:checked ~ .service-switch label[for="credit-slider"] {
  background-color:#ffffff;
  color:#32425c;
  box-shadow:none;
}
.information {
  padding-top:79px;
  padding-bottom:84px;
}
.information::after {
  content:"";
  display:table;
  clear:both;
}
.information-about {
  float:left;
  width:540px;
}
.information-contacts {
  float:right;
  width:300px;
  min-height:370px;
}
.information-about h2,
.information-contacts h2 {
  margin-top:0;
  text-transform: uppercase;
  color:#000;
}
.information-about p {
  margin-bottom:25px;
}
.information-about p:nth-child(3) {
  margin-bottom:21px;
}
.information-about ul {
  margin:0;
  padding:0;
  margin-bottom:35px;
  font-size:18px;
  line-height:20px;
  font-family: "Cuprum","Times New Roman", sans-serif;
  list-style-type: none;
}
.information-about li {
  position:relative;
  padding-left:35px;
  margin-bottom:20px;
}
.information-about li::before {
  content:"";
  position:absolute;
  top:8px;
  left:0px;
  width:25px;
  height:2px;
  background-color:#fb565a;
}
.btn-information-details {
  padding:11px 40px;
}
.btn-getlost {
  width:100%;
  margin-top:34px;
}
.information-map {
  margin-top:17px;
}
.catalog-main .container::after {
  content:"";
  display:table;
  clear:both;
}
.breadcrumbs {
  padding:0;
  margin:0;
  margin-top:17px;
  margin-bottom:19px;
}
.breadcrumbs li {
  position:relative;
  display:inline;
  padding-right:37px;
  font-size:13px;
  line-height:18px;
  text-transform:uppercase;
  color:#000;
}
.breadcrumbs a {
  text-decoration:none;
  color:#000;
}
.breadcrumbs .home{
  display:inline-block;
  vertical-align: middle;
  overflow:hidden;
  text-indent:1000px;
  width:15px;
  height:12px;
  background:#ffffff url("../img/spritesheet-icons.png") no-repeat -146px -5px;
}
.breadcrumbs li::after,
.breadcrumbs li::before {
  content:"";
  position:absolute;
  top:5px;
  right:12px;
  width:10px;
  height:1px;
  background-color:#c1c6ce;
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
}
.breadcrumbs li::after {
  top:11px;
  -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
}
.breadcrumbs .current::after,
.breadcrumbs .current::before {
  display:none;
}
.catalog-title {
  box-sizing:border-box;
  width:100%;
  padding-top:27px;
  padding-bottom:28px;
  padding-left:28px;
  font-size:30px;
  line-height:30px;
  text-transform: uppercase;
  color:#32425c;
  background-color:#f2f6f8;
}
.catalog-main-content {
  margin-bottom:60px;
}
.catalog-main-content::after {
  content:"";
  display:table;
  clear:both;
}
.catalog-filter {
  float:left;
  width:220px;
  min-height: 746px;
  text-transform: uppercase;
}
.filter-title {
  margin:0;
  margin-bottom:13px;
  padding:10px 0px;
  padding-left:18px;
  border-radius:3px;
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
  background-color:#f7f3ec;
}
.filter-heading {
  margin:0;
  margin-bottom:14px;
  font-size:17px;
  line-height:30px;
  font-weight:700;
}
.filter-heading-price {
  margin-bottom:14px;
}
.filter-price-scroller {
  margin-bottom:6px;
  padding:1px;
  width:218px;
  min-height:80px;
  background-color:#f7f3ec;
}
.filter-range {
  position:relative;
  width:180px;
  height:2px;
  margin:0 auto;
  margin-top:38px;
  background-color:#00ca74;
  box-shadow:-30px 0 0 0px #d7dcde inset;
}
.filter-range::before,
.filter-range::after {
  content:"";
  position:absolute;
  top:-10px;
  right:20px;
  width:3px;
  height:3px;
  border:9px solid #fff;
  border-radius: 50%;
  background-color:#999999;
  box-shadow:0 2px 2px 0px #d5d2cc;
  cursor: pointer;
}
.filter-range::after {
  top:-10px;
  left:0px;
}
.filter-prices {
  margin-bottom:16px;
  padding-bottom:26px;
  border-bottom:1px solid #e5e5e5;
  font-size:0;
}
.filter-price-min,
.filter-price-max,
.filter-price-between {
  display:inline-block;
  vertical-align: middle;
  padding:10px 0;
  margin:0;
  font-size:17px;
  line-height: 18px;
  text-align:center;
}
.filter-price-min,
.filter-price-max {
  width:95px;
  border:none;
  border-radius:3px;
  text-align:center;
  background-color:#f7f3ec;
}
.filter-price-min:focus,
.filter-price-max:focus {
  outline:none;
}
.filter-price-between {
  padding:0 8px;
}
.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
  display:none;
}
.catalog-filter input[type="checkbox"] + label,
.catalog-filter input[type="radio"] + label {
  position:relative;
  display:block;
  margin-bottom:20px;
  padding-left:35px;
  cursor:pointer;
}
.catalog-filter input[type="checkbox"]:disabled + label,
.catalog-filter input[type="radio"]:disabled + label {
  opacity: 0.4;
}
.catalog-filter input[type="checkbox"] + label {
  font-size:15px;
  line-height:20px;
}
.catalog-filter input[type="radio"] + label {
  font-size:14px;
  line-height:20px;
}
.catalog-filter input[type="checkbox"] + label:last-child,
.catalog-filter input[type="radio"] + label:last-child {
  margin-bottom:0px;
}
.catalog-filter input[type="checkbox"] + label::before {
  content:"";
  position:absolute;
  top:0px;
  left:0px;
  width:27px;
  height:23px;
  background:url("../img/spritesheet-icons.png") no-repeat -56px -5px;
}
.catalog-filter input[type="checkbox"]:checked + label::before {
  background-position:-89px -5px;
}
.catalog-filter input[type="radio"] + label::before {
  content:"";
  position:absolute;
  top:0px;
  left:0px;
  width:18px;
  height:18px;
  border:3px solid #c1c1c1;
  border-radius:50%;
}
.catalog-filter input[type="radio"]:checked + label::before {
  box-shadow: 0px 0px 0 5px #ffffff inset,
              0px 0px 0 9px #c1c1c1 inset;
}
.filter-manufacturers {
  padding-bottom:22px;
  margin-bottom:17px;
  border-bottom:1px solid #e5e5e5;
}
.filter-power-type {
  margin-bottom:20px;
}
.catalog-filter .btn-show {
  width:140px;
  margin-top:58px;
  padding:10px;
  border:1px solid #e5e5e5;
  font-size:13px;
  line-height: 18px;
  font-family: "PT Sans", "Times New Roman", sans-serif;
  text-transform:uppercase;
  background-color:#ffffff;
  cursor: pointer;
}
.catalog-filter .btn-show:hover {
  border:1px solid #bdc6ca;
}
.catalog-filter .btn-show:active {
  border:1px solid #ee3643;
}
.catalog-filter .btn-show:focus {
  outline: none;
  border:1px solid #ee3643;
}
.catalog-goods {
  float:right;
  width:700px;
  font-size:0;
}
.catalog-goods .goods-sort {
  width:700px;
  margin-bottom:19px;
  padding:11px 0px;
  border-radius:3px;
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
  background-color:#f7f3ec;
}
.goods-sort ul,
.goods-sort li,
.goods-sort p,
.sort-up-down {
  display:inline-block;
  vertical-align: top;
  margin-top:0;
  margin-bottom:0;
}
.goods-sort a {
  text-decoration:none;
  color:#000000;
  opacity:0.3;
}
.goods-sort a:hover {
  opacity:1;
}
.goods-sort a:active {
  color:#ee3643;
}
.goods-sort-title {
  padding-left:19px;
  margin-right:138px;
}
.goods-sort ul {
  padding:0;
}
.goods-sort li {
  border-bottom:1px dotted #ee3643;
}
.goods-sort li:hover {
  border-bottom:1px solid #ee3643;;
}
.goods-sort li:active {
  border-bottom:none;
}
.goods-sort .sort-active {
  border-bottom:none;
  color:#ee3643;
  opacity:1;
}
.goods-sort .sort-active:hover {
  border:none;
}
.goods-sort .sort-up,
.goods-sort .sort-down {
  display:inline-block;
  vertical-align: middle;
  width:0px;
  height:0px;
  border:5px solid black;
  border-bottom-width:10px;
  border-top-width:0px;
  border-left-color:transparent;
  border-right-color:transparent;
  overflow: hidden;
  text-indent:1000px;
  opacity:0.3;
}
.goods-sort .sort-down {
  display:inline-block;
  vertical-align: middle;
  width:0px;
  height:0px;
  border:5px solid black;
  border-top-width:10px;
  border-bottom-width:0px;
  border-left-color:transparent;
  border-right-color:transparent;
  overflow: hidden;
  text-indent:1000px;
  opacity:0.3;
}
.goods-sort .sort-by-down {
  border-bottom:none;
  margin:0;
}
.goods-sort .sort-up {
  margin-right:20px;
}
.goods-sort .sort-up:hover,
.goods-sort .sort-down:hover {
  opacity:1;
}
.goods-sort .sort-up:active {
  border-bottom-color:#ee3643;
}
.goods-sort .sort-down:active {
  border-top-color:#ee3643;
}
.goods-sort .arrow-active-up {
  border-color:#ee3643;
  opacity:1;
}
.goods-sort .arrow-active-up {
  border-left-color:transparent;
  border-right-color:transparent;
}
.goods-sort .arrow-active-down {
  border-left-color:transparent;
  border-right-color:transparent;
}
.goods-sort .sort-by-price {
  margin-right:68px;
}
.goods-sort .sort-by-type {
  margin-right:61px;
}
.goods-sort .sort-by-function {
  margin-right:44px;
}
.goods-content {
  width:700px;
  margin-bottom:28px;
}
.goods-item {
  margin-bottom:21px;
}
.goods-pages {
  font-size:0px;
}
.goods-pages ul,
.goods-pages li {
  display: inline-block;
  vertical-align: top;
  padding:0;
  margin:0;
  font-size:13px;
  line-height:18px;
}
.goods-pages ul {
  font-size:0px;
}
.goods-pages a {
  display:block;
  padding:9px 15px;
  border:1px solid #e5e5e5;
  border-radius: 3px;
  text-decoration:none;
  color:#000000;
}
.goods-pages a.current {
  border:1px solid #ee3643;
  color:#ffffff;
  background-color:#ee3643;
}
.goods-pages a:hover {
  border-color:#bdc6ca;
}
.goods-pages .current:hover {
  border-color:#ee3643;
}
.goods-pages a:active {
  border-color:#ee3643;
}
.goods-pages .pages-next {
  padding:9px 31px;
  text-transform: uppercase;
}
.goods-pages li {
  margin-right:9px;
}
.catalog-additional {
  padding-top:65px;
  padding-bottom:55px;
  background-color:#f2f6f8;
}
.catalog-additional h2{
  margin:0;
  margin-bottom:28px;
  font-size:30px;
  line-height:30px;
  font-weight: 400;
  text-transform: uppercase;
  color:#000;
}
.catalog-main .additional p {
  margin:0;
  line-height:24px;
}
.catalog-main .additional {
  padding-top:68px;
  padding-bottom:61px;
}
.footer {
  font-family: "Cuprum","Times New Roman", sans-serif;
}
.footer a{
  color:#fff;
  text-decoration:none;
}
.footer-top {
  min-height:193px;
  color:#fff;
  background-color:#32425c
}
.footer-top-left {
  float:left;
  width:380px;
}
.footer-top-right {
  float:right;
  width:550px;
}
.footer-logo {
  width:220px;
  font-size:30px;
  line-height:30px;
}
.footer-logo a {
  display:block;
  padding:17px 0;
  padding-bottom:20px;
  text-align:center;
  text-transform:uppercase;
  background-color:#ee3643;
  box-shadow:0 -5px 0 0 #b52933 inset;
}
.footer-contacts {
  margin-top:28px;
  font-size:18px;
  line-height:24px;
}
.footer-navigation ,
.footer-categories {
  margin:0;
  padding:0;
}
.footer-navigation {
  padding:0;
  margin-top:38px;
  margin-bottom:28px;
}
.footer-top-right a {
  font-size:18px;
  line-height: 24px;
}
.footer-top-right a:hover {
  text-decoration:underline;
}
.footer-top-right a:active {
  opacity:0.5;
}
.footer-navigation li {
  display:inline-block;
  vertical-align:top;
  font-size:0;
  margin-right:56px;
}
.footer-navigation li:last-child {
  margin-right:0px;
}
.footer-categories {
  width:550px;
}
.footer-categories li {
  display:inline-block;
  vertical-align: top;
  margin-left:55px;
}
.footer-categories li:first-child {
  margin-left:25px;
}
.footer-categories a {
  color:#ffd180;
}
.footer-top .container::after {
  content:"";
  display:table;
  clear:both;
}
.footer-bottom {
  padding-bottom:20px;
  padding-top:20px;
  font-size:0;
  color:#ffffff;
  background-color:#293449;
}
.footer-bottom a {
  color:#ffd180;
}
.footer-bottom a:hover {
  text-decoration:underline;
}
.footer-bottom a:active {
  color:#ee3643;
  text-decoration:none;
}
.footer-bottom .footer-copyright,
.footer-bottom .footer-social,
.footer-bottom .footer-feedback,
.footer-bottom .footer-credits{
  display:inline-block;
  vertical-align:middle;
}
.footer-copyright{
  width:240px;
  margin-right:150px;
  font-size:16px;
  line-height:18px;
}
.footer-social {
  width:150px;
  margin-right:100px;
  font-size:0px;
}
.social-btn {
  display:inline-block;
  vertical-align: top;
  width:41px;
  min-height:41px;
  margin-right:4px;
  border-radius:50%;
  background-color:#212a3a;
}
.social-btn:hover {
  background-color:#ee3643;
}
.social-btn-vk {
  background:#212a3a url("../img/spritesheet-social.png") no-repeat -117px -5px;
}
.social-btn-fb {
  background:#212a3a url("../img/spritesheet-social.png") no-repeat -5px -10px;;
}
.social-btn-insta {
  background:#212a3a url("../img/spritesheet-social.png") no-repeat -58px -9px;
}
.footer-feedback {
  font-size:16px;
  line-height:18px;
}
.footer-credits {
  font-size:16px;
  line-height:18px;
}
.footer-credits p,
.footer-feedback p {
  margin:0;
}
.footer-credits {
  margin-left:52px;
}
.information-popup {
  position:fixed;
  display:none;
  z-index:100;
  top:50%;
  left:50%;
  width:460px;
  margin-top:-216px;
  margin-left:-270px;
  padding:0 80px;
  padding-top:47px;
  padding-bottom:37px;
  border-top:7px solid #ee3643;
  font-size:0;
  font-family: "Cuprum","Times New Roman",sans-serif;
  background-color:#ffffff;
  box-shadow: 0 -112px 0 0 #f1f1f1 inset,
              0 20px 30px 5px rgba(0,0,0,0.75);
}
.information-popup-show {
  display:block;
  -webkit-animation:slide_left 0.6s ease-in-out;
          animation:slide_left 0.6s ease-in-out;
}
.popup-close {
  position:absolute;
  top:9px;
  right:9px;
  width:22px;
  height:22px;
  border:none;
  font-size:0;
  background:none;
  cursor:pointer;
}
.popup-close-information,
.popup-close-cart {
  top:18px;
}
.popup-close::before,
.popup-close::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:25px;
  height:5px;
  background-color:#ee3643;
}
.popup-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.name,
.email {
  display:inline-block;
  vertical-align: top;
  width:220px;
}
.name {
  margin-right:20px;
}
.information-popup [type="submit"] {
  font-size:14px;
  line-height: 18px;
  font-family: "Cuprum","Times New Roman",sans-serif;
}
.name label,
.email label,
.message label {
  display:block;
  margin-bottom:8px;
  font-size:18px;
  line-height:18px;
}
.name input,
.email input,
.message textarea {
  box-sizing: border-box;
  width:100%;
  padding:8px 0;
  padding-bottom:7px;
  padding-left:13px;
  border:2px solid #d7dcde;
  border-radius:3px;
  font-size:13px;
  line-height:18px;
  font-family: "PT Sans", "Times New Roman", sans-serif;
}
.message {
  display:block;
  margin-top:22px;
}
.message > * {
  display:block;
}
.message textarea {
  width:460px;
  height:114px;
  margin-bottom:74px;
  resize:none;
}
.btn-information-popup {
  width:100%;
  border:none;
  border-radius:3px;
}
.map-popup {
  display:none;
  position:fixed;
  z-index:100;
  top:50%;
  right:50%;
  width:940;
  min-height:447px;
  margin-top:-223px;
  margin-right:-470px;
  background:url("../img/map-popup.jpg");
  box-shadow:0 0 40px 0px rgba(0,0,0,0.75);
}
.map-popup-show {
  display:block;
  -webkit-animation:slide_right 0.6s ease-in-out;
          animation:slide_right 0.6s ease-in-out;
}
.map-overlay {
  display:none;
  position:fixed;
  z-index:90;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.cart-popup {
  display:none;
  position:fixed;
  z-index:100;
  top:50%;
  left:50%;
  margin-left:-270px;
  margin-top:-141px;
  width:460px;
  padding:0 80px;
  border-top:7px solid #ee3643;
  background-color:#ffffff;
  box-shadow: 0 -112px 0 0 #f1f1f1 inset,
              0 10px 40px 0px rgba(0,0,0,0.75);
}
.cart-popup-show {
  display:block;
  -webkit-animation:slide_left 0.5s ease-in-out;
          animation:slide_left 0.5s ease-in-out;
}
.cart-popup-message h2{
  color:#000000;
}
.cart-popup-message {
  position:relative;
  padding-left:100px;
  margin-top:65px;
  margin-bottom:105px;
}
.cart-popup-success {
  position:absolute;
  top:-15px;
  left:0;
  width:64px;
  height:64px;
  border-radius:50%;
  font-size:0;
  background-color:#63a63e;
}
.cart-popup-success::before,
.cart-popup-success::after {
  content:"";
  position:absolute;
  height:6px;
  background-color:#ffffff;
}
.cart-popup-success::before {
  top:36px;
  left:16px;
  width:15px;
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
}
.cart-popup-success::after {
  top:32px;
  left:23px;
  width:34px;
  -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
}
.cart-popup-actions {
  margin-bottom:37px;
}
.cart-popup-actions .btn {
  width:220px;
}
.btn-order {
  float:left;
  width:240px;
}
.btn-order-continue {
  float:right;
  width:240px;
  color:#000000;
  background-color:#ffffff;
}
.btn-order-continue:hover {
  background-color:#ffffff;
}
.cart-popup-actions::after {
  content:"";
  display:table;
  clear:both;
}
@-webkit-keyframes slide_left {
  0% {left:-100%;}
  80% {left:55%;}
  100% {left:50%;}
}
@keyframes slide_left {
  0% {left:-100%;}
  80% {left:55%;}
  100% {left:50%;}
}
@-webkit-keyframes slide_right {
  0% {right:-100%;}
  80% {right:55%;}
  100% {right:50%;}
}
@keyframes slide_right {
  0% {right:-100%;}
  80% {right:55%;}
  100% {right:50%;}
}
