body {
  font-size:13px;
  line-height:24px;
  font-family: "PT Sans", "Times New Roman", sans-serif;
  margin:0;
}

h1 {
  font-size:24px;
  line-height:24px;
  font-weight:400;
  color:#ffffff;
  font-family: "Cuprum","Times New Roman",sans-serif;
}

h2 {
  font-size:30px;
  line-height:30px;
  color:#32425c;
  font-family: "Cuprum","Times New Roman", sans-serif;
}

.container {
  width:940px;
  padding:0 10px;
  margin:0 auto;
}
.header {
  /*border:1px solid transparent;*/
  padding-bottom:60px;
}
.header-logo h1 {
  margin:0;
  text-transform: uppercase;
}
.header-logo {
  position:relative;
  padding:9px 55px;
  background-color:#ee3643;
}
.header-logo::after {
  content:"";
  position:absolute;
  bottom:-5px;
  left:0;
  height:5px;
  width:100%;
  background-color:#b52933;
}
.header-top {
  min-height:42px;
  margin-bottom:46px;
  background-color:#293449
}
.header-search {
  width:270px;
  min-height:42px;
}
.header-search input {
  padding-left:49px;
  padding-top:13px;
  padding-bottom:10px;
}
.header-search input::-webkit-input-placeholder  {
  font-family: "Cuprum","Times New Roman", sans-serif;
  font-size:17px;
}
.header-search input:-moz-placeholder {
  font-family: "Cuprum","Times New Roman", sans-serif;
  font-size:17px;
}
.header-bookmarks,
.header-cart,
.header-order {
  position:relative;
  width:150px;
  font-size:17px;
}
.header-bookmarks:hover,
.header-cart:hover,
.header-order:hover {
  background:#212a3a;
}
.header-top a {
  display:block;
  padding:9px;
  font-family: "Cuprum","Times New Roman", sans-serif;
  color:#ffffff;
  text-decoration:none;
}
.header-bookmarks a {
  padding-left:45px;
}
.header-bookmarks::before {
  content:"";
  position:absolute;
  left:13px;
  top:5px;
  background:url("img/stylesheet-icons.png") no-repeat -32px -5px;
}
.header-cart a {
  padding-left:50px;
}
.header-order a {
  padding:9px 20px;
}
.header-info {
  min-height:72px;
  margin-bottom:42px;
}
.header-navigation {
  min-height:56px;
  /*margin-bottom:60px*/
}
.header-navigation li{
  display:inline-block;
}
.header-top .container > *,
.header-info > * {
  display:inline-block;
  vertical-align:top;
}
.header-top .container,
.header-info {
  font-size:0;
}
/*.header-search {
  width:230px;
  margin-right:10px;
}*/

.header-discription,
.header-contacts {
  width:310px;
  margin-right:10px;
}
.header-discription {
  font-size:16px;
  line-height:23px;
  font-family:"Cuprum", sans-serif;
  font-style:italic;
}
.header-discription p {
  margin:0;
}
.header-contacts .phone {
  font-size:21px;
  line-height:18px;
}
.header-contacts p {
  margin:0;
}
.header-contacts .adress {
  font-size:14px;
  line-height:24px;
}
.header-info .user-area {
  width:300px;
  font-size:21px;
  line-height:18px;
}
.user-area .register,
.user-area .login {
  display:inline-block;
}
.user-info {
  padding-top:9px;
}
.user-info a{
  font-size:16px;
  line-height:18px;
}
.index-main {
  margin-top:60px;
}
.index-main .categories {
  min-height:410px;
  margin-bottom:55px;
}
.categories-left {
  float:left;
  width:620px;
  margin-right:20px;
}
.categories-right {
  float:right;
  width:300px;
}
.categories-item {
  float:left;
  position:relative;
  width:300px;
  min-height:124px;
  margin-bottom:20px;
}
.categories-item:first-child {
  margin-right:20px;
}
.categories-item img{
  position:absolute;
  top:20px;
  right:20px;
}
.categories-slider {
  width:620px;
  min-height:267px;
  float:left
}
.categories::after {
  content:"";
  display:table;
  clear:both;
}

.popular{
  min-height:89px;
  margin-bottom:20px;
}
.popular-title {
  float:left;
  margin-left:28px;
}
.popular .view-all,
.manufacturers .view-all{
  float:right;
  width:254px;
  min-height:39px;
  margin-top:25px;
  margin-right:25px;
}
.popular::after {
  content:"";
  display:table;
  clear:both;
}
.popular-goods {
  margin-bottom:20px;
  font-size:0;
}
.popular-item {
  width:220px;
  min-height:318px;
  margin-right:20px;
  display:inline-block;
  vertical-align: top;
}
.popular-item p {
  font-size:18px;
}
.popular-item:last-child {
  margin-right:0;
}

.manufacturers {
  min-height:89px;
  margin-bottom:20px;
}
.manufacturers-title {
  float:left;
  margin-left:28px;
}
.manufacturers-content {
  margin-bottom:66px;
  font-size:0;
}
.manufacturers-item {
  width:220px;
  min-height:145px;
  display:inline-block;
  vertical-align: top;
  margin-right:20px;
  margin-bottom:20px;
}
.manufacturers-item:nth-child(4n) {
  margin-right:0px;
}

.service-info h2{
  padding-top:68px;
  margin-bottom:35px;
  font-size:30px;
  line-height:24px;
}
.service-info {
  width:400px;
  margin-bottom:72px;
}
.service-sldier::after {
  content:"";
  display:table;
  clear:both;
}
.service-switch {
  width:240px;
  min-height:182px;
  float:left;
}
.service-switch label{
  min-height:62px;
}
.service-slide-delivery,
.service-slide-warranty,
.service-slide-credit  {
  width:700px;
  min-height:329px;
  float:right;
  position:relative;
  z-index:1;
}
.service-slide-delivery img,
.service-slide-warranty img,
.service-slide-credit img {
  position:absolute;
  top:0;
  left:-9px;
  z-index:-1;
}
.information {
  padding-top:81px;
  padding-bottom:87px;
}
.information::after {
  content:"";
  display:table;
  clear:both;
}
.information-about {
  float:left;
  min-height:370px;
  width:630px;
}
.information-contacts {
  float:right;
  min-height:370px;
  width:300px;
}
.information-about h2,
.information-contacts h2 {
  margin-top:0;
}

footer {
  min-height:300px;
}
.footer-top {
  min-height:193px;
}
.footer-top-left {
  float:left;
  width:380px;
}
.footer-top-right {
  float:right;
  width:550px;
}
.footer-logo{
  float:left;
  width:220px;
  min-height:70px;
}
.footer-contacts {
  float:left;
  width:380px;
  min-height:45px;
}
.footer-navigation {
  float:right;
  width:550px;
  min-height:70px;
}
.footer-navigation li {
  display:inline-block;
}
.footer-categories {
  width:550px;
  float:right;
}
.footer-categories li {
  display:inline-block;
}
.footer-top .container::after {
  content:"";
  display:table;
  clear:both;
}
.footer-bottom {
  min-height:107px;
  font-size:0;
}
.footer-bottom .container > * {
  display:inline-block;
  vertical-align: middle;
}
.footer-copyright{
  width:240px;
  margin-right:150px;
  font-size:16px;
  line-height:18px;
}
.footer-social {
  width:150px;
  margin-right:100px;
  font-size:14px;
}
.footer-feedback {
  width:150px;
  font-size:16px;
  line-height:18px;
}
.footer-credits {
  width:150px;
  font-size:16px;
  line-height:18px;
}
.footer-credits p{
  margin-left:39px;
}

/*catalog.html*/
.catalog-main {

}
.catalog-main .container::after {
  content:"";
  display:table;
  clear:both;
}
.catalog-main h1 {
  min-height:89px;
  margin:0;
  margin-bottom:21px;
  padding-right:30px;
  padding-top:33px;
  box-sizing: border-box;
}
.catalog-main .breadcrumbs ul {
  margin:0;
}

.catalog-main .breadcrumbs {
  min-height:58px;
}
.catalog-main .breadcrumbs li {
  display:inline-block;
}
.catalog-main-content {
  margin-bottom:60px;
}
.catalog-main-content::after {
  content:"";
  display:table;
  clear:both;
}
.catalog-main .filter {
  width:220px;
  min-height: 746px;
  margin-right:20px;
  float:left;
}
.goods {
  float:right;
  font-size:0;
}
.goods .goods-sort {
  width:700px;
  min-height:38px;
  font-size:13px;
  margin-bottom:21px;
}
.goods .goods-sort ul,
.goods .goods-sort li,
.goods .goods-sort p {
  display:inline-block;
}
.goods .goods-content {
  width:700px;
  margin-bottom:32px;
}
.goods .goods-item {
  position:relative;
  display:inline-block;
  vertical-align: top;
  width:220px;
  min-height:318px;
  margin-right:20px;
  margin-bottom:21px;
  font-size:18px;
}
.goods-item .goods-item-buy {
  display:none;
  position:absolute;
  top:0;
  width:220px;
  height:169px;
  background-color:rgba(234,195,117,0.5);
}
.goods-item:hover .goods-item-buy {
  display:block;
}
.goods .goods-item:nth-child(3n) {
    margin-right:0px;
}
.goods .goods-pages {
  font-size:13px;
}
.goods .goods-pages ul {
  margin:0;
}
.catalog-main .additional h2 {
  margin:0;
  margin-bottom:35px;
  line-height:24px;
}
.catalog-main .additional p {
  margin:0;
  line-height:24px;
}
.catalog-main .additional {
  padding-top:68px;
  padding-bottom:61px;
}
/*Временное оформление блоков*/
.header-top .container > *,
.header-info > *,
.header-navigation,
.categories .categories-left > *,
.categories .categories-right> *,
.popular > *,
.popular-goods > *,
.manufacturers > *,
.manufacturers-content > *,
.service > .container > *,
.information > *,
.footer-top .container> *,
.footer-bottom .container> *,
.goods .goods-sort,
.goods .goods-pages,
.goods .goods-item,
.additional > *,
.filter > * {
  background-color:rgba(234,195,117,0.5);
  outline:2px solid #eac375;
}
.header,
.categories,
.popular,
.popular-goods,
.manufacturers,
.manufacturers-content,
.service,
.information,
.footer-bottom,
.footer-top,
.catalog-main .container > *,
.additional {
  background-color:rgba(14,164,89,0.5);
  outline:2px solid #0ea459;
}
.container {
  background-color:rgba(206,3,127,0.5);
  outline:2px solid #ce037f;
}
